body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: hsl(47, 88%, 63%);
}
.card{
  width: 320px;
  height: 460px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  box-shadow: 10px 10px;
  border: 2px solid black;
}
  
 
.card img{
  width: 280px;
  height: 180px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 20px;
}
.card button{
  background-color: hsl(47, 88%, 63%);
  border: none;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 15px;
  font-weight: bold;
}
button:hover{
  cursor: pointer;
  background-color: black;
  color: hsl(47, 88%, 63%);
}
.card h5{
  margin-left: 20px;
  margin-top: 15px;
  font-weight: bold;
  position: absolute;
}
.card h3{
  
  margin-top: 50px;
  margin-left: 20px;
  font-weight: bold;
}
.card p{
  
  
  margin-left: 20px;
  margin-top: 10px;
}
.unti img{
  height: 40px;
  width: 40px;
  position: relative;
  margin-top: -80px;
  border-radius: 50%;
}
.footer{
  position: relative;
  bottom: 160px;
  left: 80px;
  display: flex;
  left: 0px;
  margin-top: 150px;
}
.footer img{
  width: 40px;
  height: 40px;
}
.footer h4{
  position: absolute;
  left: 70px;
  top: 10px;
}
